body {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #F2F2F2;
}

.rc-slider-track {
    background-color: #053BA6 !important;
}

.rc-slider-handle {
    border: solid 2px #053BA6 !important;
}

.rc-slider-dot-active {
    border-color: #053BA6;
}